@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Montserrat:ital,wght@0,200;0,400;0,500;1,600&family=Prata&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  font-family: montserrat, arial sans-serif;
  background-color: rgb(255, 237, 186);
}
main {
  max-width: 1300px;
  margin: 0 auto;
}
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(81, 51, 24);
}
#navbar li {
  display: inline-block;
}
#navbar a {
  text-decoration: none;
  color: rgb(255, 237, 186);
}
h1 {
  font-family: "league spartan", sans-serif;
  font-size: 5rem;
  margin-bottom: 0;
}
h1,
h2 {
  text-align: center;
}
h2 {
  margin-top: 0;
}
h3 {
  color: rgb(81, 51, 24);
  font-size: 2rem;
}
#immagine-profilo {
  width: 100%;
  max-width: 1300px;
  display: inline-block;
  margin: 50px auto 20px auto;
}
.img-link {
  display: flex;
  align-items: center;
}
table {
  width: 50%;
  margin: 50px auto;
}
tr {
  background-color: rgb(227, 195, 109);
}
th,
td {
  padding: 1rem;
}
a {
  color: rgb(112, 93, 40);
  text-decoration: none;
  font-size: 1.3rem;
}
#footer {
  background-color: rgb(81, 51, 24);
  color: rgb(255, 237, 186);
  text-align: center;
  padding: 1rem;
  margin-top: 50px;
}
